<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NetlinkV2NotificationsQueueConnectionString"
      value="AccountName=netlinkv2notifications;AccountKey=/wBxop/WRKS10fpyjz4ojBULHMwjw9gKZpb+s9U50xhBZOdr1bmxYp2qJpF+vS4SX5hwUycY/fTKjws/Fl7kGQ==;DefaultEndpointsProtocol=https"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
